.styles__PasswordWrapper___2TJmc {
  position: relative;
}
.styles__PasswordWrapper___2TJmc button {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px 0 0 2px;
}
.styles__PasswordWrapper___2TJmc input {
  padding-left: 54px;
}

